.tong {
    margin-left: 70px;
    margin-top: 120px;
    margin-right: 100px;
    font-family: Inter, Helvetica, sans-serif;
}

.thongtinsanpham {
    display: flex;
    margin-left: 50px;
}

.sanpham {
    padding-right: 570px;
    padding-bottom: 5px;
    font-size: 20px;
}

.value {
    padding-right: 180px;
    padding-bottom: 5px;
    font-size: 20px;
}

.giohangcuaban {
    border-style: dashed;
    border-radius: 10px;
    border-color: #91378c;
}

.soluong {
    padding-right: 180px;
    padding-bottom: 5px;
    font-size: 20px;
}

.tongtien {
    padding-bottom: 5px;
    font-size: 20px;
}

/* SANPHAM1 */
.sanphamcuatoi {
    display: flex;
    flex-direction: row;
}

.khoisanpham {
    display: flex;
    padding: 20px;
}

.tensanpham {
    padding-left: 20px;
    padding-top: 50px;
    font-size: 24px;
}

#giasanpham {
    padding-top: 80px;
    padding-left: 330px;
    font-size: 20px;
}

#tongtiensanpham {
    padding-top: 80px;
    padding-left: 300px;
    font-size: 20px;
}

.soluongsanpham {
    margin-top: 70px;
    background-color: rgb(246, 244, 244);
    height: 40px;
    margin-left: 155px;
}

.quantity-input {
    width: 70px;
    background-color: rgb(246, 244, 244);
    border-style: none;
    text-align: center;
}

.quantity-button {
    background-color: rgb(246, 244, 244);
    border-style: none;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: #55A8FC;
}


/* End of Css Section giohang */

.tongthanhtoan {
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    height: 250px;
    font-family: Inter, Helvetica, sans-serif;
}

.left {
    margin-right: 600px;
}

.right {
    margin-right: 20px;
}

label {
    font-size: 20px;
}

#magiam {
    height: 50px;
    padding-left: 10px;
}

#gui {
    height: 50px;
    width: 70px;
    background-color: #55A8FC;
    border: none;
}

.righttren {
    font-size: 20px;
    padding-bottom: 5px;
}

h3 {
    margin-top: 20px;
    font-size: 25px;
}

.thanhtoan {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: #55A8FC;
    border: none;
}

.kengang {
    border-bottom: 4px grey solid;
    width: 200px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1500px;
    height: 800px;
    background-color: rgba(186, 181, 181, 0.5);
    justify-content: center;
    align-items: center;
}


/* Css mo trang thanh toan */


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 20px;
}

h2 {
    color: #55A8FC;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 30px;
}

.modal-content {
    display: flex;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Inter, Helvetica, sans-serif;
    background-color: white;
}

.left-thanhtoan {
    margin-right: 50px;
    height: 500px;
    margin-left: 50px;
    margin-top: 30px;
}

.thanhtoanvaanh {
    display: flex;
}

.anhto {
    padding-left: 150px;
}

#thongtinsanpham11 {
    display: flex;
    margin-bottom: 10px;
    font-size: 10px;
}

#giohangthanhtoan {
    border-style: dashed;
    border-color: rgb(151, 42, 133);
    width: 650px;
}

#khoisanpham11 {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

#sanpham11 {
    padding-right: 370px;
    padding-left: 10px;
}

#value11 {
    padding-right: 70px
}

#tensanpham11 {
    padding-top: 50px;
    padding-left: 10px;
    font-size: 15px;
}

.giasanpham11 {
    padding-top: 50px;
    padding-left: 50px;
    font-size: 15px
}

#soluongsanpham11 {
    padding-left: 110px;
    padding-top: 50px;
    font-size: 15px;
}

#sanpham111 {
    font-size: 15px;
    padding-left: 30px;
}

#value111 {
    font-size: 15px;
    padding-left: 310px;
}

#soluong111 {
    font-size: 15px;
    padding-left: 100px;
}

.khoisanpham22 {
    display: flex;
    padding-left: 10px;
    padding: 10px;
}

#tensanpham22 {
    padding-top: 50px;
    padding-left: 10px;
    font-size: 15px;
}

#giasanpham22 {
    padding-top: 50px;
    padding-left: 150px;
    font-size: 15px;
}

#soluong22 {
    padding-left: 110px;
    padding-top: 50px;
    font-size: 15px;
}

.tongphaithanhtoan {
    margin-left: 400px;
    margin-top: 10px;
    font-size: 15px
}

.tongphaithanhtoan h3 {
    padding-top: 5px;
    font-size: 20px
}

.right-thanhtoan {
    margin-top: 100px;
    margin-right: 30px;
}

.cungcap {
    font-size: 17px;
}

.cart {
    display: flex;
    margin-bottom: 20px;
}

.anh1 {
    margin-top: 20px;
    margin-right: 30px;
    border-style: solid;
    border-color: #aaa;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
}

.anh2 {
    margin-top: 20px;
    border-style: solid;
    border-color: #aaa;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.hanthevacode {
    display: flex;
}

.hanthevacode input {
    width: 210px;
    height: 30px;
    margin: 20px 0;
    border-radius: 5px;
    border-color: #aaa;
}

#tenchuthe {
    width: 450px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: #aaa;
}

#sothe {
    width: 450px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: #aaa;
}

.cvvcode {
    margin-left: 30px;
}

#thanhtoanthoi {
    margin-top: 20px;
    width: 450px;
    height: 40px;
    background-color: #55A8FC;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.khoathongtin {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    color: #7d7d7d;
}

.khoathongtin p {
    font-size: 15px;
}

.khoathongtin i {
    padding-right: 10px;
}