* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* start header */
header {
  display: flex;
  height: 100.5px;
  background-color: white;
  width: 100%;
  align-items: center;
}
.logo {
  padding: 0px 120px;
  margin-right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  color: #eb7ada;
  padding: 30px;
  font-size: 20px;
  font-family: Inter, Helvetica, sans-serif;
}
.menu-trangchu {
  display: flex;
  gap: 40px;
}
.nameBanner{
  color: #eb7ada;
  padding: 30px;
  font-size: 20px;
  font-family: Inter, Helvetica, sans-serif;
}
.search{
  display: flex;
  margin-left: 100px;
  gap: 50px;
}

/* end header */
  
/* start body */
.single-page {
  width: 100%;
  display: flex;
  height: 550px;
  margin-top: 100px;
  font-family: Inter, Helvetica, sans-serif;
}

.single-page .my-account-or-buy {
  background-color: #fdfdfd;
  padding-left: 40px;
  padding-right: 64px;
}

.my-account-or-buy .help-logout {
  margin-top: 400px;
}

.home-my-account {
  padding-left: 24px;
  width: 70%;
}

.home-my-account .font-myaccount {
  color: #55a8fc;
}

.home-my-account .logo-myaccount {
  display: flex;
  justify-content: space-between;
}

.logo-myaccount .logo-myaccount-left {
  display: flex;
  /* can giua theo chieu doc */
  align-items: center;
  gap: 32px;
}
.chuaicon{
  background-color: #c6bebe;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.chuaicon i{
  padding-top: 43px;
  padding-left: 43px;
}
.logo-myaccount .button-change-image {
  /* can giua theo chieu doc */
  margin: auto 0;
  padding: 12px 38px;
  border: 2px solid #6E95B8;
  color: #6E95B8;
  border-radius: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  gap: 90px;
}
.font-myaccount{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 56px;
}

.form-name-email{
  width: 50%;
}
.input-box {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 9px;
  border: 2px solid #ffc8fb;
  background-color: #ffc8fb;
}
.input-box input[type="text"] {
  font-size: 16px; 
  
}

.input-box input {
  outline: none;
  border: none;
  background-color: #ffc8fb;
}
delete-change-profile.delete button-my-account {
  margin: auto 0;
  padding: 12px 38px;
  border: 2px solid #6E95B8;
  color: #6E95B8;
  border-radius: 50px;
}
.name-account{
color: #6B6464;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.member{
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
opacity: 0.5;
margin-top: 10px;
}
.u-name-data h5{

color: #747474;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 24px;
margin-bottom: 8px;
}
.buy-icon{
display: flex;
  align-items: center;
margin-bottom: 16px;
}
.delete-change-profile.delete buton-my-account{
margin: auto 0;
  padding: 12px 38px;
  border: 2px solid #6E95B8;
  color: #6E95B8;
  border-radius: 50px;
}
.delete-change-profile {
margin-top: 32px;
line-height: 24px;
display: flex;
justify-content: space-between;
padding-left: 32px;
padding-right: 32px;
gap: 90px;
}
.radius-input{
 
  padding: 12px 38px;
  border: 2px solid #6E95B8;
  color: #6E95B8;
  border-radius: 50px;
  border-radius: 50px;
}
.container{
display: flex;
justify-content: space-around;
}
.container-column {
flex-direction: column !important;
display: flex;
align-items: center;
}
.help {
display: flex;
align-items: center; /* Căn dọc theo trục chính */
}
.help span {
margin-left: 12px;
}

.my-account-icon{
display: flex;
  align-items: center;
}
.logout{
display: flex;
align-items: center;
margin-top: 12px;

}
.logout svg,
.logout span {
  vertical-align: middle;
}

.delete-change-profile
.delete:hover{
transform: scale(1.025);
transition: transform 0.3s ease; 
background-color: #55a8fc;
color: #fff;
cursor: pointer;
}
.delete-change-profile
.change-profie:hover{
transform: scale(1.025); 
transition: transform 0.3s ease; 
background-color: #55a8fc;
color: #fff;
cursor: pointer;
}
.logo-myaccount
.button-change-image:hover{
transform: scale(1.025);
transition: transform 0.3s ease; 
background-color: #55a8fc;
color: #fff;
cursor: pointer;
}
/* #EAD8FC */

.delete-change-profile
.delete:active{
transform: scale(0.9); 
transition: transform 0.1s ease; 
color: #fff;
cursor: pointer;
}
.delete-change-profile
.change-profie:active{
transform: scale(0.9); 
transition: transform 0.1s ease; 
color: #fff;
cursor: pointer;
}
.logo-myaccount
.button-change-image:active{
transform: scale(0.9); 
transition: transform 0.1s ease; 
color: #fff;
cursor: pointer;
}
.buy-icon:hover{
transform: scale(1.1);
transition: transform 0.1s ease;
}
.help:hover{
transform: scale(1.1); 
transition: transform 0.1s ease; 
}
.logout:hover{
transform: scale(1.1); 
transition: transform 0.1s ease; 
}
.buy-icon:active{
transform: scale(0.95);
transition: transform 0.1s ease;
}
.help:active{
transform: scale(0.95); 
transition: transform 0.1s ease; 
}
.logout:active{
transform: scale(0.95); 
transition: transform 0.1s ease; 
}
/* end body */

/* start fooder*/

.wrapper-footer{
  display: flex;
  height: 250px;
  justify-content: space-around;
}
.block1{
  margin: 20px 0 0 120px;
}
.block1 p{
  font-family: Inter, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}
.block1 .icon-footer{
  margin: 10px 0 0 0;
}
.links-container{
  margin: 30px;
  font-size: 13px;
  font-family: Inter, Helvetica, sans-serif;
}
.links-container li{
  padding-top: 5px;
}
.links-container a{
  color: black;
}
.links-container h4{
  padding-bottom: 10px;
}
.links-container a:hover{
  color: #ef7199;
}
.chinhsach a:hover{
  color:#ef7199;
}
.chinhsach a{
  color: black;
}
.chinhsach{
  margin: 30px;
  font-size: 13px;
  font-family: Inter, Helvetica, sans-serif;
}
.chinhsach li{
  padding-top: 5px;
}
.chinhsach h4{
  padding-bottom: 10px;
}
.lienhe{
  margin: 30px;
  font-size: 13px;
  font-family: Inter, Helvetica, sans-serif;
}
.lienhe li{
  padding-top: 5px;
}
.lienhe h4{
  padding-bottom: 10px;
}
.follow-container{
  margin: 30px;
  font-size: 13px;
  font-family: Inter, Helvetica, sans-serif;
}
.follow-container h4{
  padding-bottom: 10px;
}
.follow-container .icon ul{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.text.links-container{
  color: black;
}
.icon a{
  font-size: 20px;
  color: black;
}
.icon a:hover{
  color: red;
}
.wrapper-footer p{
  color: black;
}
.wrapper-footer h4{
  color: black;
}
footer ul{
  list-style: none;
}

/* End of Css Footer */


